{% assign Sprache = Vorgang.Sprache -%}
{% assign HinweisText = GlobaleTexte.JTL-Designvorlagen.Hinweis | SelectLanguage: Sprache | Render -%}
{% assign NackedHinweisText = HinweisText | StringHtml | Trim -%}
{% assign KategorieText = GlobaleTexte.JTL-Designvorlagen.Shop-Kategorien | SelectLanguage: Sprache | Render -%}
{% assign NackedKategorieText = KategorieText | StringHtml | Trim -%}
{% assign Kurzbeschreibung = Vorgang.Artikel.Beschreibung.Kurzbeschreibung | SelectLanguage: Sprache -%}
{% assign NackedKurzbeschreibung = Kurzbeschreibung | StringHtml | Trim -%}
{% assign BilderAnzahl = 0 -%}
{% for i in (1..12) -%}
{% assign existiertBild = Vorgang.Bilder.Dateiname.Bild | ExistiertBild: i -%}
{% if existiertBild -%}
{% assign BilderAnzahl = BilderAnzahl | Plus: 1 -%}
{% endif -%}
{% endfor -%}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Designvorlage</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        {% for i in (1..BilderAnzahl) -%}
        #pimage{{i}}:checked ~ .productImagesSliderControls label[for="pimage{{i}}"] span {
                        background: #999;
                        color: #000000 !important;
                    }

        #pimage{{i}}:checked ~ .productImageSliderElements {
        left: -{{ i | Minus: 1 | Times: 100 }}%;
        }
        {% endfor -%}
    </style>
</head>
<body>
<nav class="top-bar">
    <a href="{{ Vorgang.Link.MichSeite }}" target="_blank" title="{{ GlobaleTexte.Übersetzungen.MichSeite | SelectLanguage: Sprache }}"><img src="gfx/shoplogo.png" alt="{{ GlobaleTexte.Übersetzungen.MichSeite | SelectLanguage: Sprache }}" class="top-bar-title top-bar-icon"></a>
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="{{ Vorgang.Link.EigeneBewertungen }}" target="_blank" title="{{ GlobaleTexte.Übersetzungen.Bewertungsprofil | SelectLanguage: Sprache }}"><i class="fi-star"></i> {{ GlobaleTexte.Übersetzungen.Bewertungsprofil | SelectLanguage: Sprache }}</a></li>
            <li><a href="{{ Vorgang.Link.WeitereAuktionen }}" target="_blank" title="{{ GlobaleTexte.Übersetzungen.Weitere-Auktionen | SelectLanguage: Sprache }}"><i class="fi-pricetag-multiple"></i> {{ GlobaleTexte.Übersetzungen.Weitere-Auktionen | SelectLanguage: Sprache }}</a></li>
        </ul>
    </div>
    <form class="top-bar-right" action="https://www.ebay.de/sch/i.html" method="get">
        <input type="hidden" name="_fsradio" value="%26LH_SpecificSeller%3D1">
        <input type="hidden" name="_saslop" value="1">
        <input type="hidden" name="_sasl" value="heinle-zerspanung_de">
        <ul class="menu" title="Angebote durchsuchen">
            <li><input id="_nkw" type="search" name="_nkw" placeholder="Angebote durchsuchen..."></li>
            <li><button type="button" class="button">Suchen</button></li>
        </ul>
    </form>
</nav>

<div class="grid-container fluid margin-top-3"><!--fluid-->

    <div class="grid-x">
        <header class="cell margin-bottom-2">
            <h1 class="separator-left">{{ Vorgang.Artikel.Beschreibung.Artikelname | SelectLanguage: Sprache }}</h1>
        </header>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 ">
            <div class="card">
                <div class="card-section">
                    <div class="productImagesSlider">

                        {% for i in (1..BilderAnzahl) -%}
                        <input name="productImagesSlider" id="pimage{{i}}"
                               {% if i == 1 -%}
                               checked="checked"
                               {% endif -%}
                               type="radio">
                        {% endfor -%}
                        <!-- die Produktbilder -->
                        <ul class="productImageSliderElements">
                            {% for i in (1..BilderAnzahl) -%}
                            <li>
                                <figure>
                                    <div style="background-image: url('{{ Vorgang.Bilder.Dateiname.Bild | Bild: i | Groesse: 480, 480 }}');"></div>
                                </figure>
                            </li>
                            {% endfor -%}
                        </ul>

                        <!-- Einfache Steuerung über pollar -->
                        <ul class="productImagesSliderControls">
                            {% for i in (1..BilderAnzahl) -%}
                            <li><label for="pimage{{i}}"><span class="primary badge">{{i}}</span></label></li>
                            {% endfor -%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell medium-6 ">
            {% if NackedKurzbeschreibung != '' -%}
            <div class="card">
                <div class="card-section">
                    <!-- Bekomme ich nicht aus den Übersetzungen :( <h2 class="separator-left">Kurzbeschreibung</h2>-->
                    <div>
                        {{ Kurzbeschreibung }}
                    </div>
                </div>
            </div>
            {% endif -%}
            {% if NackedKategorieText != '' -%}
            <div class="card">
                <div class="card-section">
                    <h2 class="separator-left">{{ GlobaleTexte.Übersetzungen.Kategorien | SelectLanguage: Sprache }}</h2>
                    <div>
                        {{ KategorieText }}
                    </div>
                </div>
            </div>
            {% endif -%}
        </div>
    </div>

    <div class="grid-x">
        <div class="cell">
            <div class="card">
                <div class="card-section card-price">
                    <h2 class="separator-left">{{ GlobaleTexte.Übersetzungen.Beschreibung | SelectLanguage: Sprache }}</h2>
                    <div class="description">
                        {{ Vorgang.Artikel.Beschreibung.Beschreibung | SelectLanguage: Sprache }}
                    </div>
                </div>
            </div>
        </div>
        {% if NackedHinweisText != '' -%}
        <div class="cell">
            <div class="card">
                <div class="card-section card-price">
                    <h2 class="separator-left">{{ GlobaleTexte.Übersetzungen.Hinweis | SelectLanguage: Sprache }}</h2>
                    <div class="description">
                        {{ HinweisText }}
                    </div>
                </div>
            </div>
        </div>
        {% endif -%}
    </div>

</div>

</body>
</html>